<!DOCTYPE html>
<html lang="en">

<%- include menu %>
 
    <!-- <header> -->
     
      <!-- <nav class="navbar navbar-expand-md navbar-light px-5 py-2">
        <a class="navbar-brand" href="/"><img src="img/logoz3.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex flex-row justify-content-end" id="navbarSupportedContent">
          
            
            <ul class="navbar-nav m-0 mobilemenu">
              <li class="nav-item active">
                <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
              </li>
         
              <li class="nav-item">
                <a class="nav-link" href="/advertise">Advertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/submit">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
              </li>
              <%if(user){%>
              <li class="nav-item" style="display:inline-block"><%=user%>
                <ul class="navbar-nav m-0 mobilemenu">
                    <li>Profile</li>
                    <li>Listing</li>
                    <li><a href="/logout"> Logout</a></li>
                </ul>
              </li>
              <%}else{%>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <%}%>
            </ul>
        
        </div>
      </nav> -->
    <!-- </header> -->
    <section class="hero">
      <div class="container text-center text-white py-4">
        <h3 class="font-weight-bold upperheadertag tagline">The Best Token Sales and Ongoing <span class="icohighlight">ICO</span></h3>
        <div class="row py-5 pt-5 threeinarow">
          <div class="col-md-4">
            <img class="iconsthree" src="img/clock2.png" alt="" class="mb-4">
            <h5 class="upperheadertag">SIMPLE</h5>
            <p class="paragraph">Our experts will only list the best token sales ongoing and hence you don’t have to search among hundreds of ICOs</p>
          </div>
          <div class="col-md-4">
            <img class="iconsthree" src="img/safe2.png" alt="" class="mb-4">
            <h5 class="upperheadertag">SAFE</h5>
            <p class="paragraph">We make sure that investors fund are always invested in the best possible ICOs and hence we only list the best one</p>
          </div>
          <div class="col-md-4">
            <img class="iconsthree" src="img/coin2.png" alt="" class="mb-4">
            <h5 class="upperheadertag">PROFITABLE</h5>
            <p class="paragraph">We analyze which token sales will generate the highest revenue with minimal investment, you don't have to stress at all.</p>
          </div>
        </div>
      </div>
      <p class="text-left text-white px-2 px-md-4 pb-4" style="background-color:#2b2b2b;padding-top:20px;"><span class="text-warning">Disclaimer </span>: While every effort is made to ensure that only the best token sales are listed but we are by no means an investment advising portal so please use your due diligence and make the investment. There is always an element of risk associated with the token sales so neither the website owner or any worker herein will be responsible for the loss that may happen due to any information here.</p>
    </section>
    <section class="CTA py-3">
      <div class="container">
        <div class="txt d-lg-flex justify-content-between text-center">
          <img src="img/jibrel.png" alt="">
          <div class="text-center pt-4">
            <h4 class="platform"><b>Decentralized Marketing Campaign Management Platform</b></h4>
            <button class="btn btn-lg" style="background:#ff8a00;color:white;margin-top:20px;margin-bottom:10px;font-size:20px;">Participate in the ICO</button>
          </div>
         <div class="pt-4">
           
        </div>
        </div>
      </div>
    </section>
    <section class="TOK py-4">
      <h3 class="font-weight-bold pl-md-5 pl-1 padderleft" style="color:rgb(255, 120, 0)">Grade A Token Sales</h3>
      <div class="container">
        <div class="row py-4">
          <%if(grade){
            grade.forEach(function(dat){
              if(dat.grade=='A'){
              %>
          <div class="col-md-4" style="margin-bottom:20px" >
            <a href="/individualform?ind=<%=dat._id%>">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="http://localhost:3000/<%=dat.logoimg%>" width="48px" height="48px" alt="">
                </div>
                <div class="tx text-center w-100">
                  <h4><b><%=dat.event%></b></h4>
                  <p class="small m-0"><%=dat.proinfo%></p>
                </div>
              </div>
              <p class="st"><%=dat.project_category%></p>
              </div>
              <!-- <a href="html_pages/individualform.html"><div class="text-center pt-1 time mb-5 mb-md-0" id="time1">
                <img src="img/time.png" alt="" class="m-auto img-fluid"></a> -->
              </a>
              </div>
            <%} });}%>
          
          
        </div>
       
      </div>
    </section>
    <section class="TOK TOK1 py-4">
      <h3 class="font-weight-bold pl-md-5 pl-1 padderleft" style="color:rgb(255, 120, 0)">Grade B Token Sales</h3>
      <div class="container">
        <div class="row py-4">
            <%if(grade){
              grade.forEach(function(dats){
                if(dats.grade=='B'){
                %>
          <div class="col-md-3 col-sm-6" style="margin-bottom:20px">
            <a href="/individualform?ind=<%=dats._id%>">
             <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="http://localhost:3000/<%=dats.logoimg%>" width="48px" height="48px" alt="">
                </div>
                <div class="tx text-center w-100">
                  <h4><b><%=dats.event%></b></h4>
                  <p class="small m-0"><%=dats.proinfo%></p>
                </div>
              </div>
              <p class="st"><%=dats.project_category%></p>
              </div>
              <!-- <div class="text-center pt-1 time mb-5 mb-md-0" id="time7">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div> -->
            </a>
          </div>
          <%} });}%>
          <!-- <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/appcoins.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4><b>Appcoins</b></h4>
                  <p class="small m-0">Upgrade your apps with the power <br>of Blockchain.Advertising,<br> In-App Purchases, App Approval<br>ICO ended</p></a>
                </div>
              </div>
              <p class="st">App Store Protocol</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time8">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div> -->
          <!-- <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/envion.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4><b>Envion</b></h4>
                  <p class="small m-0">A highly flexible, globally operative<br> fleet of technologically advanced <br>Mobile Mining Units operating at<br> the most cost efficient electricity</p></a>
                </div>
              </div>
              <p class="st">Blockchain Infrastructure</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time9">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div> -->
          <!-- <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/skarat.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4><b>SkaraToken</b></h4>
                  <p class="small m-0">Rewarding the eSports <br>community by connecting<br>to the blockchain.<br>Presale bonus 40% bonus.</p></a>
                </div>
              </div>
              <p class="st">The Skara Universe</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time10">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div> -->
        </div>
        <!-- <div class="row py-4">
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time11">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time12">
                <img src="img/time.png" alt="" class="m-auto img-fluid" >
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time13">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0 " id="time14">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
        </div> -->
        <!-- <div class="row py-4">
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time15">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time16">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time17">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
          <div class="col-md-3 col-sm-6">
            <a href="#">
            <div class="borderradius">
              <div class="bx d-flex flex-md-column flex-lg-row text-center justify-content-between">
                <div class="">
                  <img src="img/sale.png" alt="">
                </div>
                <div class="tx text-center w-100">
                  <a href="html_pages/individualform.html"><h4>For Sale</h4>
                  <p class="small m-0">Space for sale!</p></a>
                </div>
              </div>
              <p class="st">Some text here</p>
              </div>
              <div class="text-center pt-1 time mb-5 mb-md-0" id="time18">
                <img src="img/time.png" alt="" class="m-auto img-fluid">
              </div>
            </a>
          </div>
        </div> -->
      </div>
    </section>
    <footer>
      <div class="container-fluid py-2">
        <!-- class="list-inline-item" -->
        <div class="container">
        <div class="row">
<div class="col-md-2 mt-3">
            <!-- <ul class="list-inline m-0 text-md-left text-center">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
            </ul> -->
          </div>
          <div class="col-md-4 mt-3 text-center">
          <h2>Shortcuts</h2>
            <ul class="list-inline m-0 text-md-left text-center">
              <li class="text-center" style="padding:5px;"><a href="#">Website</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Home</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">About</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Submit Entry</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Advertise</a></li>
            </ul>
          </div>
          <div class="col-md-4 mt-3 text-center">
          <h2>Terms & Conditions</h2>
            <ul class="list-inline m-0 text-md-left text-center">
              <li class="text-center" style="padding:5px;"><a href="#">Terms</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Disclaimer</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Privacy Policy</a></li>
              <li class="text-center" style="padding:5px;"><a href="#">Cookie Policy</a></li>
            </ul>
          </div>
          <div class="col-md-2 mt-3">
            <!-- <ul class="list-inline m-0 text-md-left text-center">
              <li><a href="#">Terms</a></li>
              <li><a href="#">Disclaimer</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Cookie Policy</a></li>
            </ul> -->
          </div>
        </div>
        </div>
        <div class="col-md-12">
          <div class="col-md-6 floater"><p class="text-left">*All rights reserved www.sample.com 2018 </p></div>
          <div class="col-md-6 text-right floater">
             <ul class="socialicons list-inline m-0 text-right pr-2">
              <li class="list-inline-item"><a href="#"><img src="img/skype.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/tel.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/twit.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/fb.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/reddit.png"></i></a></li>
            </ul>
          </div>
          <div style="clear:both"></div>
        </div>
      </div>
   </footer>


  	
        <script>
        function second(days,hours,minutes,seconds){
            return days*86400+hours*3600+minutes*60+seconds;
        }
        $('#time1').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(15,15,50,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time2').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(18,22,31,23) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time3').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,00,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time4').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(6,10,29,23) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time5').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,00,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time6').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,00,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time7').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(27,10,28,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time8').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,00,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time9').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,00,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time10').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(10,3,30,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time11').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time12').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time13').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time14').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time15').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time16').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time17').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

        $('#time18').ClassyCountdown({
        theme: "black-very-wide", // theme
        end: $.now() + second(0,0,00,00) //Enter you Time Here as DAYS, Hours, Minutes, Second
        });

    </script>
  </body>
</html>