<!DOCTYPE html>
<html lang="en">

<%- include menu %>
   <!-- <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coincontents - The best ICO listing portal</title>
    <link rel="icon" href="MI.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="css/jquery.classycountdown.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Project-name.css">
    <link rel="stylesheet" href="css/individualform.css">
    
  </head>
   <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light px-5 py-2">
        <a class="navbar-brand" href="/"><img src="img/logoz3.png" alt="">
        <button class="navbar-toggler" onclick="clicker()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex flex-row justify-content-end" id="newsmenu">
          <div class="">
            <ul class="socialicons list-inline m-0 text-right pr-2">
              <li class="list-inline-item"><a href="#"><img src="img/skype.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/tel.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/twit.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/fb.png"></i></a></li>
              <li class="list-inline-item"><a href="#"><img src="img/reddit.png"></i></a></li>
            </ul>
            <ul class="navbar-nav m-0 mobilemenu">
              <li class="nav-item active">
                <a class="nav-link" href="news.html">News <span class="sr-only">(current)</span></a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="advertise.html">Advertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contactus.html">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header> -->

<section>
<div class="container-fluid individual">
  <div class="project-heading text-center"><img class="project-logo inline" src="../img/logocompany.png"><h1 class="inline">Jibrel Network Token (JNT)<img class="sponsbadge inline" src="../img/star.png" title="Gold Project" alt="Gold Project"></h1>
  <div class="project-desc">
The Jibrel Network provides traditional financial assets, such as currencies, commodities and bonds, as standard ERC-20 tokens, on the Ethereum blockchain.
</div>
</div>

<div class="projectinfo">
  <div class="infoitem">
    <div class="infolabel inline">Project Type</div>
    <div class="infovalue inline"><%=ind.project_type%></div>
  </div>
  <div class="infoitem">
    <div class="infolabel inline">Platform</div>
    <div class="infovalue inline"><%=ind.platform%></div>
  </div>
  <div class="infoitem">
    <div class="infolabel inline">Website</div>
    <div class="infovalue inline"><%=ind.pro_website%></div>
  </div>
  <div class="infoitem">
    <div class="infolabel inline">Category</div>
    <div class="infovalue inline"><%=ind.project_category%></div>
  </div>
  <div class="infoitem">
    <div class="infolabel inline">Total Supply</div>
    <div class="infovalue inline"><%=ind.totalsupply%></div>
  </div>
  <div class="infoitem">
    <div class="infolabel inline">Whitepaper</div>
    <div class="infovalue inline"><%=ind.whitepapper%></div>
  </div>
  <div class="infoitem">
    <div class="infolabel inline">Bitcoin Talk</div>
    <div class="infovalue inline"><%=ind.btcannounce%></div>
  </div>

<div class="crowdfund">
  <h2>Jibrel Network Token Sale</h2>
  <div class="infoitem">
    <div class="infolabel inline">Start Date</div>
    <div class="infovalue date inline">Open</div>
    <div id="startclock">
      <div><span class="days">L</span><div class="smalltext">Days</div></div>
      <div><span class="days">I</span><div class="smalltext">Hours</div></div>
      <div><span class="days">V</span><div class="smalltext">Mins</div></div>
      <div><span class="days">E</span><div class="smalltext">Secs</div></div>
    </div>
  </div>

  <div class="infoitem">
    <div class="infolabel inline">Start Date</div>
    <div class="infovalue date inline">Open</div>
    <div id="endclock">
      <div><span class="days">9</span><div class="smalltext">Days</div></div>
      <div><span class="days">03</span><div class="smalltext">Hours</div></div>
      <div><span class="days">10</span><div class="smalltext">Mins</div></div>
      <div><span class="days">50</span><div class="smalltext">Secs</div></div>
    </div>
  </div>

<div class="infoitem">
    <div class="infolabel inline">Details</div> 
  </div>
  <!-- <div class="infoitem">
    <div class="infolabel inline">Prices: $0.25</div> 
  </div> -->
<div class="infodetails">
  <%-ind.detail%>
</div>


<div class="project-links">
  <h2>Links</h2>
 
  <div class="infoitem">
  <%if(ind.pro_website){%>
    <div class="proj-link inline">
    <img src="../img/earth.png" width="16px" height="16px" />
    <a href="<%=ind.pro_website%>">Website</a>
    </div>
    <%}%>
    <%if(ind.whitepapper){%>
    <div class="proj-link inline">
    <img src="../img/paper.png" width="16px" height="16px" />
    <a href="<%=ind.whitepapper%>">Paper</a>
    </div>
    <%}%>
    <%if(ind.btcannounce){%>
    <div class="proj-link inline">
    <img src="../img/announce.png" width="16px" height="16px" />
    <a href="<%=ind.btcannounce%>">Announce</a>
    </div> 
    <%}%>
    
    <!-- <div class="proj-link inline">
    <img src="../img/github.png" width="16px" height="16px" />
    <a href="">Github</a>
    </div> -->
   
    
    <!-- <div class="proj-link inline">
    <img src="../img/blog.png" width="16px" height="16px" />
    <a>Blog</a>
    </div>  -->
    <%if(ind.twiter){%>
      <div class="proj-link inline">
      <img src="../img/twitter.png" width="16px" height="16px" />
      <a href="<%=ind.twiter%>">Twitter</a>
      </div>
    <%}%>
    <%if(ind.reddit){%>
      <div class="proj-link inline">
      <img src="../img/reddit_small.png" width="16px" height="16px" />
      <a href="<%=ind.reddit%>">Reddit</a>
      </div> 
    <%}%>
    <%if(ind.slack){%>
    <div class="proj-link inline">
    <img src="../img/slack.png" width="16px" height="16px" />
    <a href="<%=ind.slack%>">Slack</a>
    </div>
    <%}%>
    <!-- <div class="proj-link inline">
    <img src="../img/telegram.png" width="16px" height="16px" />
    <a>Telegram</a>
    </div>  -->
  </div>
</div>

<div class="project-team">
<h2>Team</h2>
  <div class="infodetails">
    <table class="distrotable">
    <thead>
    <tr>
    <th style="width: 300px;">Name</th>
    <th style="width: 400px;">Position</th>
    <th>Links</th>
    </tr>
    </thead>
    <tbody>
      <%if(ind.team){
        ind.team.forEach(function(men){       
        %>
    <tr>
    <td><%=men.fullname%></td>
    <td><%=men.position%></td>
    <td><a href="<%=men.linkdin%>">Linkedin</a></td>
    </tr>
  <%});}%>
    <!-- <tr>
    <td>Yazan Barghuthi</td>
    <td>Co-founder, Project Lead</td>
    <td>40.00%</td>
    
    </tr>

    <tr>
    <td>Yazan Barghuthi</td>
    <td>Co-founder, Project Lead</td>
    <td>40.00%</td>
    
    </tr> -->

    </tbody></table>
  </div>
</div>

<!-- <div class="project-team">
<h2>Upcoming Events And Milestones</h2>
  <div class="infodetails">
    <table class="distrotable">
    <thead>
    <tr>
    <th style="width: 200px;">Date</th>
    <th>Event</th>
    
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Q4 2017</td>
    <td><h5>jCash Launch</h5><i>Jibrel Network launches an additional five fiat currencies at the jCash launch.Jibrel Network launches an additional five fiat currencies at the jCash launchJibrel Network launches an additional five fiat currencies at the jCash launch</i></td>
    </tr>
   <tr>
    <td>Q4 2017</td>
    <td><h5>jCash Launch</h5><i>Jibrel Network launches an additional five fiat currencies at the jCash launch.Jibrel Network launches an additional five fiat currencies at the jCash launchJibrel Network launches an additional five fiat currencies at the jCash launch</i></td>
    </tr>

    <tr>
    <td>Q4 2017</td>
    <td><h5>jCash Launch</h5><i>Jibrel Network launches an additional five fiat currencies at the jCash launch.Jibrel Network launches an additional five fiat currencies at the jCash launchJibrel Network launches an additional five fiat currencies at the jCash launch</i></td>
    </tr>

    </tbody></table>
  </div>
</div> -->
</div>
</div>
</div>
<!-- <div class="container-fluid" style="padding-left:0px;padding-right:0px;">
<div id="comment-policy" class="comment-policy padding-double">
<div class="content">
  <p class="title">Coins Content</p>
  Please read our Comment Policy before commenting
</div>

</div>
</div> -->

<div id="disqus_thread"></div>

<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://coinscontents-herokuapp-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



</section>

      <footer>
       <%- include footer %>
    </footer>
  
    <!-- <script id="dsq-count-scr" src="//coinscontents-herokuapp-com.disqus.com/count.js" async></script> -->
    </body>
    </html>