<!DOCTYPE html>
<html lang="en">
<%- include menu %>
  <!-- <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coincontents - The best ICO listing portal</title>
    <link rel="icon" href="MI.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="css/jquery.classycountdown.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Project-name.css">
    <link rel="stylesheet" href="/css/newsdetails.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light px-5 py-2">
        <a class="navbar-brand" href="/"><img src="img/logoz3.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex flex-row justify-content-end" id="navbarSupportedContent">
          
            
            <ul class="navbar-nav m-0 mobilemenu">
              <li class="nav-item active">
                <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/advertise">Advertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
        
        </div>
      </nav>
    </header> -->


<div class="container-fluid" style="background-color: #e8ecee;">
<div class="container wrapper">
  <section class="maincontent">
  <article class="articlesection">
    <img src="http://localhost:3000/<%=data.img%>" width="100%"/>
    <h4 class="headline"><b><%=data.title%></b></h4>
    <%if(data.createdat){
      var options = {  
        weekday: "long", year: "numeric", month: "short",  
        day: "numeric", hour: "2-digit", minute: "2-digit"  
      }; 

      var s = new Date(data.createdat);
      var newdate= s.toLocaleTimeString("en-us", options);
     
     %>
    <div class="entry-meta postmeta">
      
    <span class="meta-date"><%=newdate%></span>
    </div>
    <%}%>
    
    
    <!-- <p>The sentiment shifts that take place during hard forks in bitcoin, cryptocurrency’s banner asset, are a new market dynamic with far-reaching implications for the industry. While hard forks have resulted in little tangible success for other coins, bitcoin’s notoriety casts any hard fork in a more sentimental light. Markets first witnessed this curious market movement in the months following bitcoin cash’s fork in August. The fork itself seemed to justify its price, which has steadily risen since.</p> -->
    <!-- <h4 class="headline"><b>Cash by the forkland</b></h4> -->
    <p><%-data.body%></p>
    

    <!-- <div class="authorbio">
      <div id="sab-author"><a href="#" title="Alex Buelau" target="_blank">Alex Buelau</a></div>
      <div id="sab-gravatar"><a rel="nofollow" href="https://www.coinschedule.com/blog/author/alex/" target="_blank">
      <img alt="Alex Buelau" src="../img/author.png" height="100" width="100"></a></div>
      <div class="sab-description">
      <p>While hard forks have resulted in little tangible success for other coins, bitcoin’s notoriety casts any hard fork in a more sentimental light. Markets first witnessed this curious market movement in the months following bitcoin cash’s fork in August. The fork itself seemed to justify its price, which has steadily risen since.</p></div>
      <div class="clear"></div>
    </div> -->
    <div class="clear"></div>
  </article>

  </section>
  <section class="tags">
  <!-- <article class="rightpart1">
    <input type="search" class="search-field" placeholder="To search, type and hit enter …" value="" name="s">
  </article> -->
  <!-- <article class="rightpart2">
    <p style="margin-bottom:0px">Go to <a>Link</a></p>
  </article> -->
  <article class="rightpart3">
  <div class="innerpart">
    <h4>Categories</h4>
    <hr >
    <ul>
      <%if(data.tags){
        data.tags.forEach(function(dt){%>
      <li><%=dt%></li>
    <%});}%>
    </ul>
    </div>
  </article>
  
  </section>
  <div class="clear"></div>
  </div>
</div>



        <footer>
  <%- include footer %>
    </footer>
   <%/*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/menu.js"></script>*/%>
    </body>
    </html>