<!DOCTYPE html>
<html lang="en">
<%- include menu %>
<!--  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Coincontents - The best ICO listing portal</title>
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../css/jquery.classycountdown.css" rel="stylesheet">
    <link rel="stylesheet" href="css/Project-name.css">
    <link rel="stylesheet" href="css/news.css">

  </head>
   <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-light px-5 py-2">
        <a class="navbar-brand" href="/"><img src="img/logoz3.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex flex-row justify-content-end" id="navbarSupportedContent">
          
            
            <ul class="navbar-nav m-0 mobilemenu">
              <li class="nav-item active">
                <a class="nav-link" href="/news">News <span class="sr-only">(current)</span></a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link" href="/advertise">Advertise</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Submit</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contactus">Contact Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
              </li>
            </ul>
        
        </div>
      </nav>
    </header> -->


<section>
<div class="container-fluid blogpart">
<div class="blogcollection">
        <%if(news){
            var options = {  
                weekday: "long", year: "numeric", month: "short",  
                day: "numeric", hour: "2-digit", minute: "2-digit"  
              }; 
            news.forEach(function(dat){
                
                  var s = new Date(dat.createdat);
              dat.createdat= s.toLocaleTimeString("en-us", options);
            
            %>
        <div class="bloglisting">
            <div class="col-md-12 blogindividual">
               <a href="/newdetails?id=<%=dat._id%>"><img src="http://localhost:3000/<%=dat.img%>" width="100%"></a>
                   
                   <h2 class="h2styler"><b><%=dat.title%></b></h2>
                   <h6><%=dat.createdat%></h6>
                   
                   <p><%-dat.body%></p>
                   <!-- <hr >
                   <p class="limittext">If you have some insight into the crypto world, you must be familiar with Ripple. Since the introduction of Bitcoin and a steep surge in bitcoin price, the market has witnessed the rise of other alternative currencies as well. Among the leading cryptocurrencies and altcoins that are dominating the trading market, Ripple has created quite a noise. Before ....</p></a> -->
        
            </div>
            </div>
        <%});}%>


    
  

    <div class="clear"></div>
</div>
</div>
</section>



      <footer>
  <%- include footer %>
    </footer>
<%/*<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="js/menu.js"></script>*/%>
<script src="js/news.js"></script>
    </body>
    </html>