<!DOCTYPE html>
<html lang="en">
<%- include menu %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>
  <!-- <h1>Lemonade Stand</h1> -->
  <h2 class="text-center">Invoice</h2>
  <div class="text-center" id="qrcode"></div>
  <p class="text-center">Please send 0.001 BTC to <%=address%></p>
  <p>After successful payment Page will redirect the next process</p>
  <!-- <h2>Transactions Received</h2> -->
  <!-- <ul id="txids">
  </ul> -->

  <script type="text/javascript">
    $('#qrcode').qrcode("bitcoin:<%=address%>?amount=0.001");
  </script>

  <!-- <script language="javascript">
    var bitcore = require('bitcore-lib');
    var socket = io('http://localhost:3001');
    socket.on('bitcoind/addresstxid', function(data) {
      var address = bitcore.Address(data.address);
      if (address.toString() == '{{address}}') {
        var txidsElm = document.getElementById('txids');
        var elm = document.createTextNode('txid: ' + data.txid);
        txidsElm.appendChild(elm);
      }
    });
    socket.emit('subscribe', 'bitcoind/addresstxid', ['{{address}}']);
  </script> -->
  <script>
  setTimeout(function(){
    // $.ajax({
    //   type:"POST",
    //   url:'/checkBalance?ad='+<%=address%>,
    //   success:function(result){
    //     if(result){
    //       console.log(result);
    //       window.location.replace("/detaildata?id="+<%=id%>);
        
    //     }

    //   }
    // });
    window.location.replace("/detaildata?id=<%=id%>");
  },10000);
  </script>
  <footer>
      <%- include footer %>
      </footer>
</body>

</html>